<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{title}}</title>
</head>
<body>
	<h1>{{title}}</h1>

	<p>Begin &#123;&#123;&#62;content&#125;&#125;</p>
	{{>content}}
	<p>End &#123;&#123;&#62;content&#125;&#125;</p>
</body>
</html>