<ol id="nav">
    <li class="home"><a href="{{base_url}}" title="Kalalalani Theme">*</a></li>
    <li class="selected"><a href="{{base_url}}">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#install">Install</a></li>
    <li><a href="#archive">Archive</a></li>
    <li><a href="#rss">RSS</a></li>
</ol>