<li class="regular">
    <h3><a href="#">The Kalalalani Theme</a></h3>

    <p>The Kalalalani Theme is made by <a href="http://chriskalani.com/">Chris Kalani</a>,
        a product designer at Facebook.</p>

    <p><b>This is a list</b></p>

    <ul>
        <li>Foo bar bizz buzz</li>
        <li>Bar bizz buzz foo</li>
        <li>Bizz buzz foo bar</li>
        <li>Buzz bizz foo bar</li>
    </ul>

    <p>It is a great <a href="http://www.tumblr.com/theme/8691">tumblr theme</a>.</p>

    <p class="meta">
        <a href="#">5 days ago</a>
        &nbsp;/&nbsp;
        <a href="#">7 comments</a>
    </p>
</li>